.App {
  text-align: center;
}
.backgroundDiv{
 height: 100vh;
 background-image: url("https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1286&q=80"); 
 background-size:cover ;
}

.welcomepageFont{
  font-family: "Quando";
}

.welcomepageHeader{
  font-size: 36px;
  margin: 0px;
  padding-top: 0.5em;
}

 .blurredFieldDesktop{
  position: absolute;
  width: 500px;
  height: 760px;
  right: 9%;
  top: 10%;
  background: linear-gradient(114.84deg, rgba(255, 255, 255, 0.35) 3.61%, rgba(255, 255, 255, 0.604982) 42.59%, rgba(255, 255, 255, 0) 102.29%);
  backdrop-filter: blur(5px);
  border-radius: 34px;
 
} 
.blurredFieldMobile{
  width: 90%;
  height: 86%;
  position: absolute;
  background: linear-gradient(114.84deg, rgba(255, 255, 255, 0.35) 3.61%, rgba(255, 255, 255, 0.604982) 42.59%, rgba(255, 255, 255, 0) 102.29%);
  backdrop-filter: blur(5px);
  border-radius: 34px;
  top:3em;
  left: 1.3em;
}

.blurredFieldSignUpMobile{
  width: 90%;
  height: 94%;
  background: linear-gradient(114.84deg, rgba(255, 255, 255, 0.35) 3.61%, rgba(255, 255, 255, 0.604982) 42.59%, rgba(255, 255, 255, 0) 102.29%);
  backdrop-filter: blur(5px);
  border-radius: 34px;
  position:absolute;
  top: 1em;
  left: 1.3em;
}

.blurredFieldSignUpDesktop{
  position: absolute;
  width: 500px;
  height: 760px;
  right: 9%;
  top: 10%;
  background: linear-gradient(114.84deg, rgba(255, 255, 255, 0.35) 3.61%, rgba(255, 255, 255, 0.604982) 42.59%, rgba(255, 255, 255, 0) 102.29%);
  backdrop-filter: blur(5px);
  border-radius: 34px;
 
} 

.whiteFieldInBlurred{
  position: absolute;
width: 100%;
height: 84%;
left: 0px;
top: 82px;

background: rgba(255, 255, 255, 0.70);
border-radius: 34px;
}

.userSelectTab{
  display: flex;
  justify-content: space-evenly;
}

.selectOption{
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 20px;
}
.selectOption:hover{
  transition: 0.3s;
  font-size: 26px;
}

.selectedOption{
  transition: 0.3s;
  padding: 0px 15px 15px 15px;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-size: 26px;
  cursor: pointer;
}

.formField{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.welcomePageInput{
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.2) ;
  height: 35px;
  padding: 10px;
  margin-top: 2em;
 border-radius: 20px;
 font-size: 22px;
 text-align: center;
 transition: 0.3s;
}

.signUpPageInput{
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.2) ;
  height: 2em;
  padding: 10px;
  margin-bottom: 1em;
 border-radius: 20px;
 font-size: 16px;
 text-align: center;
 transition: 0.3s;
}

.signUpPageInput:hover{
  width: 85%;
  transition: 0.3s;
}
.signUpPageInput:focus{
  width: 85%;
  transition: 0.3s;
}

.welcomePageInput:hover{
  width: 85%;
  transition: 0.3s;
}
.welcomePageInput:focus{
  width: 85%;
  transition: 0.3s;
}

.welcomepageButton{
  width: 45%;
  border: 0px;
  background-color: #d8995e;
  color: white;
  font-weight: bold;
  padding: 15px;
  margin-top: 2em;
 border-radius: 20px;
 font-size: 20px;
 text-align: center;
 transition: 0.3s;
}
.welcomepageButton:hover{
  background-color: rgb(201, 140, 84);
  cursor: pointer;
  transition: 0.3s;
}

.signUpPageButtonDesktop{
  width: 45%;
  border: 0px;
  background-color: #d8995e;
  color: white;
  font-weight: bold;
  padding: 15px;
 border-radius: 20px;
 font-size: 20px;
 text-align: center;
 transition: 0.3s;
}
.signUpPageButtonDesktop:hover{
  background-color: rgb(201, 140, 84);
  cursor: pointer;
  transition: 0.3s;
}

.signUpPageButtonMobile{
  width: 45%;
  border: 0px;
  position: absolute;
  bottom: 3em;
  left: 5em;
  background-color: #d8995e;
  color: white;
  font-weight: bold;
  padding: 15px;
 border-radius: 20px;
 font-size: 20px;
 text-align: center;
 transition: 0.3s;
}
.signUpPageButtonMobile:hover{
  background-color: rgb(201, 140, 84);
  cursor: pointer;
  transition: 0.3s;
}

.registerMessage{
  margin-top: 50px;
  font-size: large;
  opacity: 80%;
  letter-spacing: 1px;
}

.signUpPageMessageMobile{
  font-size: large;
  opacity: 80%;
  letter-spacing: 1px;
  position: absolute;
  left: 6em;
  bottom: 1px;
}

.signUpPageMessageDesktop{
  font-size: large;
  opacity: 80%;
  letter-spacing: 1px;
}

.registerHereLabel{
  color: rgb(168, 101, 0);
  opacity: 100%;
  font-weight: bold;
  transition: 0.1s;
}
.registerHereLabel:hover{
  cursor: pointer;
  color: rgb(116, 69, 0);
  transition: 0.1s;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.loginHereLabel{
  color: rgb(168, 101, 0);
  opacity: 100%;
  font-weight: bold;
  transition: 0.1s;
}
.loginHereLabel:hover{
  cursor: pointer;
  color: rgb(116, 69, 0);
  transition: 0.1s;
  text-decoration: underline;
  text-underline-offset: 3px;
}