.App {
  text-align: center;
}
.backgroundDiv {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1286&q=80");
  background-size: cover;
}

.welcomepageFont {
  font-family: "Quando";
}

.welcomepageHeader {
  font-size: 36px;
  margin: 0px;
  padding-top: 0.5em;
}

.blurredFieldDesktop {
  position: absolute;
  width: 500px;
  height: 760px;
  right: 9%;
  top: 10%;
  background: linear-gradient(
    114.84deg,
    rgba(255, 255, 255, 0.35) 3.61%,
    rgba(255, 255, 255, 0.604982) 42.59%,
    rgba(255, 255, 255, 0) 102.29%
  );
  backdrop-filter: blur(5px);
  border-radius: 34px;
}
.blurredFieldMobile {
  width: 90%;
  height: 86%;
  position: absolute;
  background: linear-gradient(
    114.84deg,
    rgba(255, 255, 255, 0.35) 3.61%,
    rgba(255, 255, 255, 0.604982) 42.59%,
    rgba(255, 255, 255, 0) 102.29%
  );
  backdrop-filter: blur(5px);
  border-radius: 34px;
  top: 3em;
  left: 1.3em;
}

.blurredFieldSignUpMobile {
  width: 90%;
  height: 94%;
  background: linear-gradient(
    114.84deg,
    rgba(255, 255, 255, 0.35) 3.61%,
    rgba(255, 255, 255, 0.604982) 42.59%,
    rgba(255, 255, 255, 0) 102.29%
  );
  backdrop-filter: blur(5px);
  border-radius: 34px;
  position: absolute;
  top: 1em;
  left: 1.3em;
}

.blurredFieldSignUpDesktop {
  position: absolute;
  width: 500px;
  height: 760px;
  right: 9%;
  top: 10%;
  background: linear-gradient(
    114.84deg,
    rgba(255, 255, 255, 0.35) 3.61%,
    rgba(255, 255, 255, 0.604982) 42.59%,
    rgba(255, 255, 255, 0) 102.29%
  );
  backdrop-filter: blur(5px);
  border-radius: 34px;
}

.whiteFieldInBlurred {
  position: absolute;
  width: 100%;
  height: 84%;
  left: 0px;
  top: 82px;

  background: rgba(255, 255, 255, 0.7);
  border-radius: 34px;
}

.userSelectTab {
  display: flex;
  justify-content: space-evenly;
}

.selectOption {
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 20px;
}
.selectOption:hover {
  transition: 0.3s;
  font-size: 26px;
}

.selectedOption {
  transition: 0.3s;
  padding: 0px 15px 15px 15px;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-size: 26px;
  cursor: pointer;
}

.selectMobileOption {
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 16px;
}
.selectMobileOption:hover {
  transition: 0.3s;
  font-size: 26px;
}

.selectedMobileOption {
  transition: 0.3s;
  padding: 0px 15px 15px 15px;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-size: 20px;
  cursor: pointer;
}

.formField {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.welcomePageInput {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  height: 35px;
  padding: 10px;
  margin-top: 2em;
  border-radius: 20px;
  font-size: 22px;
  text-align: center;
  transition: 0.3s;
}

.signUpPageInput {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  height: 2em;
  padding: 10px;
  margin-bottom: 1em;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
}

.signUpPageInput:hover {
  width: 85%;
  transition: 0.3s;
}
.signUpPageInput:focus {
  width: 85%;
  transition: 0.3s;
}
.signUpPageMobileInput {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  height: 1.5em;
  padding: 10px;
  margin-bottom: 1em;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
}

.welcomePageInput:hover {
  width: 85%;
  transition: 0.3s;
}
.welcomePageInput:focus {
  width: 85%;
  transition: 0.3s;
}

.welcomepageButton {
  width: 45%;
  border: 0px;
  background-color: #d8995e;
  color: white;
  font-weight: bold;
  padding: 15px;
  margin-top: 2em;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
}
.welcomepageButton:hover {
  background-color: rgb(201, 140, 84);
  cursor: pointer;
  transition: 0.3s;
}

.signUpPageButtonDesktop {
  width: 45%;
  border: 0px;
  background-color: #d8995e;
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  transition: 0.3s;
}
.signUpPageButtonDesktop:hover {
  background-color: rgb(201, 140, 84);
  cursor: pointer;
  transition: 0.3s;
}

.signUpPageButtonMobile {
  width: 45%;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d8995e;
  color: white;
  font-weight: bold;
  padding: 11px;
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  transition: 0.3s;
}
.signUpPageButtonMobile:hover {
  background-color: rgb(201, 140, 84);
  cursor: pointer;
  transition: 0.3s;
}

.registerMessage {
  margin-top: 50px;
  opacity: 80%;
  letter-spacing: 1px;
}

.signUpPageMessageMobile {
  opacity: 80%;
  letter-spacing: 1px;
  position: absolute;
  left: 6em;
  bottom: 1px;
}

.signUpPageMessageDesktop {
  font-size: large;
  opacity: 80%;
  letter-spacing: 1px;
}

.registerHereLabel {
  color: rgb(168, 101, 0);
  opacity: 100%;
  font-weight: bold;
  transition: 0.1s;
}
.registerHereLabel:hover {
  cursor: pointer;
  color: rgb(116, 69, 0);
  transition: 0.1s;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.loginHereLabel {
  color: rgb(168, 101, 0);
  opacity: 100%;
  font-weight: bold;
  transition: 0.1s;
}
.loginHereLabel:hover {
  cursor: pointer;
  color: rgb(116, 69, 0);
  transition: 0.1s;
  text-decoration: underline;
  text-underline-offset: 3px;
}


.navibar{
  display: flex;
  background: rgb(255,232,114);
background: linear-gradient(90deg, rgba(255,232,114,1) 0%, rgb(255, 199, 86) 100%);
  color: white;
  justify-content: space-around;
  align-items: center;
}

.routerLinkRemove{
  text-decoration: none;
}

.logoHeader{
  margin-left: 1em;
  color: black;
  transition: 0.5s;
  text-decoration: none;
}

.logoHeader:hover{
  margin-left: 1em;
  opacity: 70%;
  cursor: default;
  transition: 0.5s;
}


.searchBar{
  height: 2.6em;
  border: 0px;
  border-radius: 1em;
  padding: 0px;
  width: 20em;
  outline: none;
  padding-left: 12px;
  font-size: 16px;
}



.searchButton{
  background-color: white;
  padding: 0px 20px 0px 20px;
  border: 0px;
  border-radius: 1em;
  height: 3em;
  transition: 0.3s;
  margin-left: 5px;
}
.searchButton:hover{
  background-color: rgb(255, 248, 190);
  transition: 0.3s;
  cursor: pointer;
}

.profileField{
  display: flex;
  align-items: center;
  color: black;
  transition: 0.3s;
}

.profileField:hover{
  opacity: 80%;
  cursor: pointer;
  transition: 0.3s;
}

.naviImage{
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 100%;
}

.dropdownMenu{
  background-color: #777777;
  width: 15%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  right: 2em;
  color: black;
  z-index: 1;
}

.dropdownItem{
  padding: 10px;
  color: white;
  font-weight: bolder;
}
.dropdownItem:hover{
  background-color: rgb(46, 46, 46);
  cursor: pointer;
  padding: 10px;
}

.usernameText{
  margin-right:10px;
  font-size:20px; 
}

.googleMap{
  width: 400px;
  height: 400px;
}

.googleMapField{
  background-color: white;
  position: absolute;
  right: 1em;
  margin-top: 10em;
  border-radius: 20px 20px 0 0;
  border: 1px solid gray;
}


.post{
  width: 40%;
  padding: 1em;
  background-color: #f7f6e7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.postImage{
  width: 100%;
  border-radius: 10px;
}

.postDescription{
  padding: 0 1em 1em 1em;
  margin-top: 1em;
  text-align: left;
  border-radius: 1em;
  font-size: 18px;
  background-color: #f0efe0;
  height: 240px;
  overflow: auto;
}

.newPostButton{
  border: 0px;
  background-color: #80b879;
  padding: 1em;
  position: absolute;
  right: 10em;
  margin-top: 5em;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.newPostButton:hover{
  background-color: #6d9e67;
  transition: 0.3s;
}

.postFooter{
  display: flex;
  padding: 0 1em 0 1em;
  background-color: #f0efe0;
  margin-bottom: 1em;
  border-radius: 1em;
  
}
.postOwnerField{
  display: flex;
  align-items: center;
}

.postOwnerImage{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  padding: 1em;
}

.seeVetsText{
  margin: 0px;
  padding: 1em;
}

.newPostSchema{
  width: 50%;
  margin:3em auto 0 auto;
  padding: 1em;
  border-radius: 24px;
  background-color: #ecebd9;
}
.genusButton{
  border: 0px;
  width: 100%;
  background-color: #ffffff;
  padding: 0.5em;
  border-radius: 0.6em;
  font-size: 20px;
  transition: 0.3s;
}

.genusButton:hover{
  background-color: #e4e4e4;
}

.genusDropdownMenu{
  margin-top: 3px;
  background-color: #e4e4e4;
  border-radius: 0.6em;
  margin: 0 auto 0 auto;
  border: 1px solid black;
  margin-top: 1px;
  transition: 0.05s;
  max-height: 110px;
  overflow: auto;
}
.genusDropdown{
  width: 15em;
}
.genusItem{
  letter-spacing: 1px;
font-size: 20px;
padding: 0.2em 0 0.2em 0;
}

.genusItem:hover{
  background-color: #b3b3b3;
cursor: default;
border-radius: 0.6em;
transition: 0.3s;
}

.ageInput{
  border: 0px;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.6em;
  font-size: 20px;
  color: black;
  width: 10%;
  transition: 0.3s;
}

.diseaseObserve{
  border: 0px;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.6em;
  font-size: 20px;
  width: 94%;
  margin-top: 1em;
  color: black;
  height: 2em;
  resize: none;
}

.diseaseDescription{
  border: 0px;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.6em;
  font-size: 20px;
  width: 94%;
  margin-top: 1em;
  color: black;
  height: 7em;
  resize: none;
}

.uploadImageButton{
  border: 0px;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.6em;
  font-size: 20px;
  color: black;
  transition: 0.3s;
}

.selectedImages{
  display: flex;
  justify-content: center;
}

.newPostHeader{
  margin-left: 1em;
  text-align: left;
}

.publishPostButton{
  border: 0px;
  width: 40%;
  left: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1em;
  background-color: #7da15a;
  padding: 0.5em;
  border-radius: 0.6em;
  font-size: 20px;
  transition: 0.3s;
  color: white;
}
.publishPostButton:hover{
  background-color: #6a8a4b;
  transition: 0.3s;
  cursor: pointer;
}

.previewImage{
  transition: 0.9s;
  justify-content: center;
}

.previewImage:hover{
  width: 300px;
  transition: 0.4s;
}



@media only screen and (max-width: 1000px) {
  .uploadImageButton{
    width: 400px;
  }
  .newPostHeader{
    margin: 0px;
  }
  .newPostSchema{
    width: 90%;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .genusDropdown{
    width: 9em;
  }

  .ageInput{
    width: 2em;
  }
  .diseaseObserve{
    height: 1.2em;
    width: 80%;
    
  }
  .diseaseDescription{
    width: 80%;
  }
  .newPostButton{
    position: fixed;
    bottom: 0.7rem;
    right: 1rem;
    z-index: 2;
  }
  #myFile.uploadImageButton{
    width: 100%;
  }
  .selectedImages{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .post{
    width: 80%;
  }


  .postDescription{
    margin: 0;
    margin-top: 1em;
  }
  .searchBar{
    position: fixed;
    bottom: 1em;
    width: 5em;
    height: 30px;
    left: 1em;
    border: 0px;
    border: 2px solid black;
    transition: 0.3s;
    z-index: 2;
  }



  .searchButton{
    position: fixed;
    
    bottom: 1.5em;
    width: 30px;
    height: 30px;
    left: 8.5em;
    padding: 0px;
    z-index: 2;
    font-weight: bold;
    border-radius: 2em;
    border: 2px solid black;
  }

  .navibar{
    padding: 0px;
    height: 4em;
  }
  .logoHeader{
    margin-left: 0.3em;
    font-size: 16px;
  }
  

  /* .searchButton{
    height: 1.5em;
    padding: 0px 5px 0px 5px;
    border-radius: 9px;
  } */

  .naviImage{
    width: 30px;
    height: 30px;
  }

  .dropdownMenu{
    width: 7em;
    right: 10px;
  }

  .dropdownItem{
    font-size: 14px;
  }
  .usernameText{
    font-size: 16px;
  }
  .googleMap{
    width: 100%;
    transition: 0.5s;
  }

  .googleMapHidden{
    width: 100%;
    height: 1em;
    transition: 0.5s;
  }
  .googleMapField{
    width: 88%;
    position: relative;
    margin-top: 1em;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
  }

  .mobileBottomBar{
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: white;
    
    width: 100%;
    height: 4em;
  }
} 